body{
    background-color: rgb(243, 97, 92);
}

h1{
    padding: 20px;
    text-align: center;
    margin: 10px;
    color: #3a0200;
    font-weight: bold;
    border: 2px solid black;
}

#logo{
    padding: 5px;
    width: 20%;
    border: 2px solid black;
}

nav {
    text-align: center;
    display: inline-block;
    background-color: rgb(226, 154, 60);
    border: 1px solid black;
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
}

section img{
    width: 40%;
}

#first{
    margin: auto;
}

#first p{
    padding: 20px;
    text-align: center;
    word-wrap: normal;
    margin: auto;
    Max-width: 1000px;
    border: 2px solid black;
}

#first img{
    float: right;
    margin: 30px;
}

#first h2{
    text-align: center;
    padding: 10px;
    color: #3a0200;
    font-weight: bold;
    border: 2px solid black;
}

#firsttext {
    float: left;
    max-width: 750px;
    margin: auto;
}

#second{
    display: inline-block;
}

#second h2{
    text-align: center;
    padding: 10px;
    color: #3a0200;
    font-weight: bold;
    border: 2px solid black;
}

#secondp1 {
    text-align:left;
    float: left;
    max-width: 465px;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
}

#secondp2 {
    text-align: right;
    float: right;
    max-width: 465px;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
}

#second img{
    margin: 10px;
    vertical-align: middle;
}

#third{
    display: inline-block;
}

#third h2{
    text-align: center;
    padding: 10px;
    color: #3a0200;
    font-weight: bold;
    border: 2px solid black;
}

#third p{
    text-align: right;
    float: right;
    border: 2px solid black;
    padding: 10px;
}

#thirdtext{
    float: right;
    max-width: 750px;
}

#third img{
    float: left;
    margin: 30px;
}

footer{
    text-align: right;
}


/* *{
    border: 2px solid black;
} */
