body{
    background-color: rgb(243, 97, 92);
    padding: 40px;
}

h1{
    padding: 20px;
    text-align: center;
    margin: 10px;
}

#logo{
    padding: 5px;
    width: 20%;
    
}

nav{
    text-align: center
}

section{
    background-color:rgb(#EAA19F)
}

section img{
    width: 30%;
}

#first{
    display: inline-block;
}

#first p{
    text-align: left;
    padding: 20px;
    word-wrap: normal;
}

#first img{
    float: right;
}

#first h2{
    align: left;
    padding: 10px;
}

#second{
    display: inline-block
}

#secondp1 {
    text-align:left;
    float: left;
    word-wrap: normal;
}

#secondp2 {
    text-align: right;
    float: right;
    word-wrap:normal;
}

#second img{
    
}

#third{
    display: inline-block;
}

#third p{
    text-align: right;
    padding: 40px;
    margin: 20px;
}

#third img{
    float: left;
}

footer{
    text-align: right;
}


*{
    border: 2px solid black;
}