body{
    background-color: rgb(243, 97, 92)
}

h1{
    padding: 20px;
    text-align: center;
    margin: 10px;
}

#logo{
    padding: 5px;
    align: center;
    width: 40%;
}

section{
    background-color:rgb(238, 66, 60)
}

*{border: 2px solid black;}